/* Start global */

body {
  background: #1e1e1e;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h6 {
  font-family: 'Electrolize', sans-serif;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}
img {
  width:100%;
}

/*